<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="static/style/modal.css" rel="stylesheet">
    <link href="static/style/style.css" rel="stylesheet">
    <script src="static/js/paypalButtons.js"></script>
    <script src="static/js/paypalModal.js"></script>
</head>

<body>

    <div class="modal" id="paypalModal">
        <div class="modal-header">
            <div class="icon-container">
                <i class="fa fa-envelope"></i>
            </div>
            <div class="title-container">
                <h3>Check Out</h3>
            </div>
            <div class="close-button-container">
                <span class="close" id="closePaypalModalButton">&times;</span>
            </div>
        </div>
        <div class="modalBody">
            <div id="smart-button-container">
                <div class="checkout">
                    <h5>Select an alert package:</h5>
                    <div class="checkout-items-container">
                        <div class="checkout-item">
                            <input type="radio" name="option" price="5" value="50 Alerts">
                            <label for="50 Alerts">50 Alerts - $5.00 USD (.10 each)</label>
                        </div>
                        <div class="checkout-item">
                            <input type="radio" name="option" price="10" value="125 Alerts">
                            <label for="50 Alerts">125 Alerts - $10.00 USD (.08 each)</label>
                        </div>
                        <div class="checkout-item">
                            <input type="radio" name="option" price="15" value="250 Alerts">
                            <label for="50 Alerts">250 Alerts - $15.00 USD (.06 each)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="paypal-button-container" data-user-id="{{ session.user_id }}"></div>
        </div>
    </div>
    </div>

</body>

</html>