<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html>

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="../static/js/account.js"></script>
    <script
        src="https://www.paypal.com/sdk/js?client-id={{ client_id }}&currency=USD&components=buttons&enable-funding=venmo&disable-funding=paylater"></script>
    <script src="../static/js/paypalModal.js"></script>
    <script src="../static/js/paypalButtons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<div class="container">
    <div class="content-block">
        <p>Welcome, {{ username }}!</p>
        <h3>Account Dashboard</h3>
        <i class="fa fa-envelope fa-2x"></i>
    </div>
    <div class="blue notice">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p><strong>Notice: </strong>Your username here should match your username on Reddit. If you need to change it,
            <a class="info-link" href="/account/update"><u>click here</u></a>.
        </p>
    </div>
    <div class="info-center">
        <div class="content-block info-item">
            <p><strong>Buy Alerts here:</strong></p>
            <button class="green" id="openPaypalModalButton"><span>Get Alerts</span></button>
        </div>
        <div class="content-block info-item">
            <p><strong>SMS Alerts:</strong></p>
            <h3>{{ message_count }}</h3>
        </div>
    </div>
    <div class="content-block dashboard-item">
        <form class="full-size-form" id="addKeywordForm">
            <h5><label for="newKeyword">Add Keywords:</label></h5>
            <input id="newKeyword" name="newKeyword" placeholder="" required="required" type="text">
            <small class="form-text text-muted">When a new post contains a keyword, we'll
                send you an alert!</small>
            <button class="blue" type="button" id="addKeywordButton"><span>Add Keyword</span></button>
        </form>
        <a class="link" href="/instructions">Click here to read tutorial</a>
    </div>
    <div class="account-dashboard">
        <div class="content-block dashboard-item">
            <div class="content-container">
                <h5>Active Keywords:</h5>
                <div id="keywords" data-keywords="{{ keywords }}">
                    <!-- Dynamic JS Table -->
                </div>
                <button class="red" id="deleteAllKeywordsButton"><span>Delete All Keywords</span></button>
            </div>
        </div>
        <div class="content-block dashboard-item">
            <div class="content-container">
                <h5>Subreddits:</h5>
                <ul class="subreddits" id="subreddits" data-watched-subreddits="{{ watched_subreddits }}" data-all-subreddits="{{ all_subreddits }}">
                    <!-- Dynamic JS List -->
                </ul>
            </div>
        </div>
    </div>
</div>

</html>
{% endblock %}