<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}SMS Alert Service{% endblock %}</title>
    <script src="../static/js/header.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link href="../static/style/common.css" rel="stylesheet">
    <link href="../static/style/front_page.css" rel="stylesheet">
    <link href="../static/style/modal.css" rel="stylesheet">
</head>
<body>
<header class="header">
    <div id="desktopHeaderContainer">
        <div id="desktopHeaderLogo">
            <a href="/"><h3><i class="fa fa-envelope fa-x3"></i>&nbsp;&nbsp;The SMS Alert Service</h3></a>
        </div>
        <nav id="desktopHeaderNav">
            <div id="desktopMenu">
                <ul>
                    {% if not session.user_id %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                    {% else %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/account/logout">Log Out</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div id="mobileHeaderContainer">
        <!-- Mobile Header Content-->
        <div id="mobileHeaderEnvelope"><a href="/"><i class="fa fa-envelope fa-2x" id="mobileHeaderEnvelopeIcon"></i></a></div>
        <div id="mobileHeaderLogo"><a href="/"><h3 id="mobileHeaderLogoText">The SMS Alert Service</h3></a></div>
        <div id="openMobileMenuIcon"><i class="fa fa-bars fa-2x"></i></div>

        <!-- Pop-up Nav Menu -->
        <div id="mobileMenu">
            <div id="mobileMenuContainer">
                <div id="mobileMenuLabel">
                    <h3>Menu</h3>
                    <i class="fa fa-times fa-2x" id="closeMobileMenuIcon"></i>
                </div>
                <ul id="mobileMenuItems">
                    {% if not session.user_id %}
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/instructions">Instructions</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    {% else %}
                    <li><a href="/account/logout">Log Out</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/instructions">Instructions</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="block-content">
    {% block content %}{% endblock %}
</section>

<footer class="footer">
                <ul id="footer-links">
                    {% if not session.user_id %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/instructions">Instructions</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    {% else %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/instructions">Instructions</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    {% endif %}
                </ul>
    <!-- PayPal Logo -->
    <a href="https://www.paypal.com/webapps/mpp/paypal-popup"
       onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"
       title="How PayPal Works"><img
            alt="PayPal Acceptance Mark" border="0"
            src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg"></a>

    <p>&copy; 2023 SMS Alert Service</p>
    <p>All Rights Reserved.</p>
</footer>
</body>
</html>
