<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}SMS Alert Service{% endblock %}

{% block content %}
<html>

<head>
    <link href="static/style/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<div class="container">
    <div class="content-block">
        <h3>Instructions</h3>
        <i class="fa fa-envelope fa-2x"></i>
    </div>
    <div class="blue notice">
        <p>Contact us at <strong>support@smsalertservice.com</strong></p>
    </div>
    <div class="content-block">
        <div class="content-container">
            <h5>Here's how to get the most out of the service</h5>
            <br/>
            <ul style="text-align: left;">
                <li>Add a series of keywords that you think a seller will use in their post.</li>
                <li>Use one word or very short phrase in each keyword submission.</li>
                <li>Alerts will trigger for whole or partial word matches. For instance: if you have a keyword 'Water,'
                    you'll recieve alerts for posts containing 'Watermelon.'</li>
                <li>You can use as many keywords as you want.</li>
                <li>You'll recieve alerts only for keyword matches in the subreddits you have toggled on.</li>
            </ul>
        </div>
    </div>
</div>
</html>
{% endblock %}