<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}SMS Alert Service{% endblock %}

{% block content %}
<html>
<head>
    <link href="static/style/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="static/js/login.js"></script>
    <script src="static/js/authenticationModal.js"></script>
</head>

<div class="container">
    <div class="content-block full-size-form-container">
        <h4>Log In</h4>
        <form class="full-size-form">
            <p class="status-message" id="loginStatusMessage"><!-- Dynamic JS Status Message --></p>
            <label for="usernameInputField">Username:</label>
            <input id="usernameInputField" name="username" required="required">
            <label for="passwordInputField">Password:</label>
            <input id="passwordInputField" name="passwordInputField" required="required" type="password">
            <button class="blue" id="loginButton" type="button"><span>Log In</span></button>
            <button class="red" id="resetPasswordButton" type="button"><span>Reset Password</span></button>
        </form>
    </div>
</div>
</html>
{% endblock %}
