<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}SMS Alert Service{% endblock %}

{% block content %}
<html>

<head>
    <link href="static/style/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<div class="container">
    <div class="content-block">
        <div class="content-container">
            <h3>Privacy Policy</h3>
            <i class="fa fa-envelope fa-2x"></i>
        </div>
    </div>
    <div class="blue notice">
        <p>Contact us at <strong>support@smsalertservice.com</strong></p>
    </div>
    <div class="content-block">
        <div class="content-container">
            <h5>Privacy is important.</h5>
            <br/>
            <p>Sacrificing privacy for convenience is silly.
                The SMS Alert Service made all design choices with respect to your personal privacy.</p>
            <ul style="text-align: left;">
                <li>We collect minimal information about you.</li>
                <li>Your data is stored securely on a <a href="https://www.mongodb.com/cloud/trust">MongoDB Cloud Database.</a></li>
                <li>All payments are managed by <a href="https://www.paypal.com/us/home">PayPal.</a></li>
                <li>We do not use ad tracking technology.</li>
                <li>We do not collect device fingerprints, IP addresses, or sensitive personal information.</li>
                <li>We do not sell or share our users' information for any reason.</li>
                <li>We do not cooperate with law enforcement unless threatened with violence.</li>
            </ul>
            <p>If you have any additional questions, please contact us at
                <br><strong>support@smsalertservice.com</strong>
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}