<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}SMS Alert Service{% endblock %}

{% block content %}
<html>
<head>
    <link href="../static/style/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="../static/js/accountRecovery.js"></script>
</head>

<div class="container">
    <div class="box-area billboard">
        <h3>Account Recovery<br/><i class="fa fa-envelope fa-2x"></i></h3>
    </div>
    <div class="box-area form-container" id="resetPasswordFormContainer">
        <p class="statusMessage" id="resetPasswordStatusMessage">Enter your new password below.<!-- Dynamic JS status message --></p>
        <form class="mini-form" id="resetPasswordForm">
            <label for="newPasswordField">New Password:</label>
            <input class="center"
                   id="newPasswordField"
                   name="newPasswordField"
                   required="required"
                   type="password">
            <button class="button btn-primary" id="resetPasswordButton" type="button">Reset Password</button>
        </form>
        <button class="button btn-primary" id="backToLoginButton" type="button">Back to Login</button>
    </div>
</div>
</html>
{% endblock %}
