<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}SMS Alert Service{% endblock %}

{% block content %}
<html>

<head>
    <link href="static/style/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<div class="container">
    <div class="content-block">
        <h3>Support</h3>
        <i class="fa fa-envelope fa-2x"></i>
    </div>
    <div class="blue notice">
        <p>Contact us at <strong>support@smsalertservice.com</strong></p>
    </div>
    <div class="content-block">
        <div class="content-container">
            <h5>Contact Us</h5>
            <br/>
            <p>If you need help or want to get in touch, shoot us an email at support@smsalertservice.com and include
                your username in the subject.</p>
            <p>We are very responsive, but please allow up to 24 hours .</p>
            <p><strong>support@smsalertservice.com</strong></p>
        </div>
    </div>
</div>
{% endblock %}